.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  margin: 1em;
  padding: 1em 3em;
  background-color: #AEC09A;
  border-radius: 1em 3em;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 6px rgba(0, 0, 0, 0.1),
    inset 0 8px 6px rgba(0, 0, 0, 0.1), inset 8px 0 6px rgba(0, 0, 0, 0.1),
    inset -8px 0 6px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: white;
  font-size: 24px;
  margin-bottom: 1em;
}

.section-text {
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .section {
    width: 70%;
    height: 100px;
    margin: 1em;
    padding: 1em 2em;
  }
}

@media screen and (max-width: 350px) {
  .section {
    width: 70%;
    height: 30px;
    margin: 0.25em 0.5em;
    padding: 0.25em 0.5em;
  }
  .section-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-block-end: 0.2em;
  }

  .section-text {
    font-size: 12px;
    margin-block-start: 0.25em;
  }
}

@media screen and (max-width: 240px) {
  .section {
    width: 70%;
    height: 30px;
    margin: 0.25em 0.5em;
    padding: 0.25em 0.5em;
  }
  .section-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-block-end: 0.2em;
  }

  .section-text {
    font-size: 12px;
    margin-block-start: 0.25em;
  }
}


